<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historial</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

    <h1>📊 Historial de Análisis</h1>

    <table>
        <tr>
            <th>ID</th>
            <th>Fecha</th>
            <th>Resultado</th>
        </tr>

        {% for row in rows %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
        </tr>
        {% endfor %}
    </table>

    <br>

    <a href="/">Volver</a>

</div>

</body>
</html>
